<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PROJECT MICRODOT</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    />
    <style>
      /* Menyesuaikan dialog agar tampil menarik */
      #fullscreenPrompt {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        font-size: 1.5em;
        z-index: 1000;
      }
    </style>
  </head>

  <body class="hold-transition layout-top-nav">
    <div class="wrapper">
      <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
          <div class="d-flex justify-content-between align-items-center w-100">
            <div class="logo_tut">
              <img
                src="/static/img/tut.png"
                style="width: 85px; height: 85px"
              />
            </div>
            <div class="text-center mx-auto">
              <h1
                class="m-0"
                style="font-family: 'Berlin Sans FB Demi'; font-size: 1.5rem"
              >
                SEKOLAH MENENGAH KEJURUAN
              </h1>
              <h3
                class="m-0"
                style="font-family: 'Bookman Old Style'; font-size: 1.4rem"
              >
                SMKS MUHAMMADIYAH 1 WONOSOBO
              </h3>
              <h5 class="m-0" style="font-family: 'Berlin Sans FB Demi'">
                <u
                  >Jl. Kh. Ahmad Dahlan No.6, Tosarirejo, Jaraksari, Kec.
                  Wonosobo, Kab Wonosobo, Jawa Tengah 56311</u
                >
              </h5>
            </div>
            <div class="logo_vedc">
              <img
                src="/static/img/vedc.png"
                style="width: 100px; height: 70px"
              />
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        <div class="col-sm-12">
          <div class="text-right">
            <marquee
              id="running-text"
              behavior="scroll"
              direction="left"
              class="text-info font-weight-bold"
              style="font-size: 2rem"
            >
              Loading running text...
            </marquee>
          </div>
        </div>
        <!-- <div class="text-center">
          <h5>SMART DASHBOARD MUTUTECH</h5>
        </div> -->
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div id="ip" class="text-center">
              <h5>Loading ip address...</h5>
            </div>

            <div class="mt-1 rounded-full">
              <div class="row">
                <div class="col-lg-6 col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Distribusi Siswa dan Guru</h3>
                    </div>
                    <div class="card-body">
                      <canvas
                        id="schoolPieChart"
                        width="400"
                        height="400"
                      ></canvas>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-12">
                  <div class="card">
                    <div class="card-header">
                      <h3 class="card-title">Prediksi Cuaca</h3>
                    </div>
                    <div class="card-body">
                      <div
                        id="weather-forecast"
                        class="weather-forecast"
                        width="400"
                        height="400"
                      >
                        <p>Loading weather forecast...</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mt-1 mb-1 rounded-full">
              <div class="content">
                <!-- Main Content -->
                <section class="content">
                  <div class="row">
                    <div class="col-lg-3 col-6">
                      <div class="small-box bg-info">
                        <div class="inner">
                          <h4>TEMP</h4>
                          <h5><span id="temp-value">--</span>°C</h5>
                        </div>
                        <div class="icon">
                          <i class="fas fa-thermometer-half"></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-6">
                      <div class="small-box bg-success">
                        <div class="inner">
                          <h4>HUM</h4>
                          <h5><span id="humidity-value">--</span>%</h5>
                        </div>
                        <div class="icon">
                          <i class="fas fa-water"></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-6">
                      <div class="small-box bg-warning">
                        <div class="inner">
                          <h4>ALT</h4>
                          <h5><span id="altitude-value">--</span> m</h5>
                        </div>
                        <div class="icon">
                          <i class="fas fa-mountain"></i>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-3 col-6">
                      <div class="small-box bg-danger">
                        <div class="inner">
                          <h4>PRESS</h4>
                          <h5><span id="pressure-value">--</span> hPa</h5>
                        </div>
                        <div class="icon">
                          <i class="fas fa-tachometer-alt"></i>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="card-title">Temperature and Humidity</h3>
                        </div>
                        <div class="card-body">
                          <canvas id="lineChart"></canvas>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <!-- Power Control Toggle -->
                  <div class="col-md-3 col-12">
                    <p class="mr-2">POWER CONTROL:</p>
                    <button
                      type="button"
                      id="toggleButton1"
                      class="btn btn-danger"
                      onclick="toggleLamp(this)"
                      data-status="off"
                      data-lamp-id="1"
                    >
                      OFF
                    </button>
                  </div>

                  <!-- Garden Lamp Toggle -->
                  <div class="col-md-3 col-12">
                    <p class="mr-2">GARDEN LAMP:</p>
                    <button
                      type="button"
                      id="toggleButton2"
                      class="btn btn-danger"
                      onclick="toggleLamp(this)"
                      data-status="off"
                      data-lamp-id="2"
                    >
                      OFF
                    </button>
                  </div>

                  <!-- Office Lamp Toggle -->
                  <div class="col-md-3 col-12">
                    <p class="mr-2">OFFICE LAMP:</p>
                    <button
                      type="button"
                      id="toggleButton3"
                      class="btn btn-danger"
                      onclick="toggleLamp(this)"
                      data-status="off"
                      data-lamp-id="3"
                    >
                      OFF
                    </button>
                  </div>

                  <!-- Buzzer Toggle -->
                  <div class="col-md-3 col-12">
                    <p class="mr-2">BUZZER:</p>
                    <button
                      type="button"
                      id="toggleButton4"
                      class="btn btn-danger"
                      onclick="toggleLamp(this)"
                      data-status="off"
                      data-lamp-id="4"
                    >
                      OFF
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="fullscreenPrompt">Klik di mana saja untuk masuk ke fullscreen</div>

    <footer class="main-footer">
      <strong
        >Copyright © 2014-2021
        <a href="https://adminlte.io">SMK MUTU WONOOSBO</a>.</strong
      >
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.2.0
      </div>
    </footer>

    <!-- Modal untuk Validasi PIN -->
    <div
      class="modal fade"
      id="pinModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="pinModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="pinModalLabel">Enter PIN</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <input
              type="password"
              id="pinInput"
              class="form-control"
              placeholder="Enter PIN"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <button
              type="button"
              class="btn btn-primary"
              onclick="validatePin()"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE JS -->
    <script src="https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/js/adminlte.min.js"></script>

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <!-- Custom JS -->
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const prompt = document.getElementById("fullscreenPrompt");

        // Meminta pengguna mengklik layar untuk memasuki mode fullscreen
        document.addEventListener(
          "click",
          function () {
            if (document.documentElement.requestFullscreen) {
              document.documentElement.requestFullscreen();
            } else if (document.documentElement.mozRequestFullScreen) {
              // Firefox
              document.documentElement.mozRequestFullScreen();
            } else if (document.documentElement.webkitRequestFullscreen) {
              // Chrome, Safari, Opera
              document.documentElement.webkitRequestFullscreen();
            } else if (document.documentElement.msRequestFullscreen) {
              // IE/Edge
              document.documentElement.msRequestFullscreen();
            }
            // Sembunyikan prompt setelah berhasil memasuki fullscreen
            prompt.style.display = "none";
          },
          { once: true }
        );
      });
      // Event hanya dieksekusi sekali
    </script>

    <script>
      $(document).ready(function () {
        // Fungsi update data
        function updateSensorData() {
          $.ajax({
            url: "/updateData",
            method: "GET",
            success: function (data) {
              const parsedData = JSON.parse(data);
              $("#temp-value").text(parsedData.readingTemp.toFixed(1));
              $("#humidity-value").text(parsedData.readingHum.toFixed(1));
              $("#pressure-value").text(parsedData.readingPress.toFixed(1));
              $("#altitude-value").text(parsedData.readingAlt.toFixed(1));

              const co = parsedData.readingCO;
              $("#terrace-status").text(co > 100 ? "ON" : "OFF");
              $("#garden-status").text(co > 200 ? "ON" : "OFF");
              $("#room-status").text(co > 300 ? "ON" : "OFF");
              $("#ip").text(`Device IP: ${parsedData.ip}`);
            },
            error: function () {
              console.log("Error fetching sensor data");
            },
          });
        }

        updateSensorData();
        setInterval(updateSensorData, 5000);

        let targetUrl = `ws://${location.host}/ws`;
        let websocket;
        // Simpan tombol yang diklik
        let currentButton = null;

        function initializeSocket() {
          console.log(
            "Opening WebSocket connection to ESP32 MicroPython Server..."
          );
          websocket = new WebSocket(targetUrl);
          websocket.onopen = function () {
            console.log("Connected to WebSocket server.");
          };
          websocket.onclose = function () {
            console.log("WebSocket connection closed, retrying...");
            setTimeout(initializeSocket, 2000);
          };
          websocket.onmessage = function (event) {
            console.log("WebSocket message received:", event.data);
          };
        }

        function sendMessage(message) {
          if (websocket.readyState === WebSocket.OPEN) {
            websocket.send(message);
          } else {
            console.error("WebSocket not open. Cannot send message.");
          }
        }

        window.toggleLamp = function (button) {
          // Simpan referensi tombol yang diklik
          currentButton = button;
          // Munculkan modal untuk memasukkan PIN
          $("#pinModal").modal("show");
        };

        window.validatePin = function () {
          const pin = $("#pinInput").val();
          $.getJSON("/pin.json", function (data) {
            if (pin === data.correctPin) {
              // Sembunyikan modal
              $("#pinModal").modal("hide");

              const currentStatus = currentButton.getAttribute("data-status");
              const lampId = currentButton.getAttribute("data-lamp-id");
              const newStatus = currentStatus === "off" ? "on" : "off";

              currentButton.classList.toggle("btn-danger", newStatus === "off");
              currentButton.classList.toggle("btn-success", newStatus === "on");
              currentButton.textContent = newStatus === "on" ? "ON" : "OFF";
              currentButton.setAttribute("data-status", newStatus);

              sendMessage(`${newStatus}${lampId}`);
              console.log(`${currentButton.id} is now ${newStatus}`);
            } else {
              alert("Incorrect PIN!");
            }
          });
        };

        //Jika kode diatas tidak berjalan maka ganti dengan ini
        // window.validatePin = function () {
        //   const pin = $("#pinInput").val();
        //   const correctPin = "1234"; // Menetapkan PIN di sini

        //   if (pin === correctPin) {
        //     // Sembunyikan modal
        //     $("#pinModal").modal("hide");

        //     const currentStatus = currentButton.getAttribute("data-status");
        //     const lampId = currentButton.getAttribute("data-lamp-id");
        //     const newStatus = currentStatus === "off" ? "on" : "off";

        //     currentButton.classList.toggle("btn-danger", newStatus === "off");
        //     currentButton.classList.toggle("btn-success", newStatus === "on");
        //     currentButton.textContent = newStatus === "on" ? "ON" : "OFF";
        //     currentButton.setAttribute("data-status", newStatus);

        //     sendMessage(`${newStatus}${lampId}`);
        //     console.log(`${currentButton.id} is now ${newStatus}`);
        //   } else {
        //     alert("Incorrect PIN!");
        //   }
        // };

        window.addEventListener("load", initializeSocket);
      });

      $(document).ready(function () {
        // Function to update sensor data
        function updateSensorData() {
          $.ajax({
            url: "/updateData",
            method: "GET",
            success: function (data) {
              const parsedData = JSON.parse(data);

              $("#temp-value").text(parsedData.readingTemp.toFixed(1));
              $("#humidity-value").text(parsedData.readingHum.toFixed(1));
              $("#pressure-value").text(parsedData.readingPress.toFixed(1));
              $("#altitude-value").text(parsedData.readingAlt.toFixed(1));

              $("#ip").text(`Device IP: ${parsedData.ip}`);

              lineChart.data.datasets[0].data.push(
                parsedData.readingTemp.toFixed(1)
              );
              lineChart.data.datasets[1].data.push(
                parsedData.readingHum.toFixed(1)
              );

              const currentTime = new Date().toLocaleTimeString();
              lineChart.data.labels.push(currentTime);

              if (lineChart.data.labels.length > 10) {
                lineChart.data.labels.shift();
                lineChart.data.datasets[0].data.shift();
                lineChart.data.datasets[1].data.shift();
              }

              lineChart.update();
            },
            error: function () {
              console.log("Error fetching sensor data");
            },
          });
        }

        setInterval(updateSensorData, 5000);

        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
          type: "line",
          data: {
            labels: [],
            datasets: [
              {
                label: "Temperature",
                backgroundColor: "rgba(60,141,188,0.9)",
                borderColor: "rgba(60,141,188,0.8)",
                pointRadius: false,
                pointColor: "#3b8bba",
                pointStrokeColor: "rgba(60,141,188,1)",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(60,141,188,1)",
                data: [],
              },
              {
                label: "Humidity",
                backgroundColor: "rgba(210, 214, 222, 1)",
                borderColor: "rgba(210, 214, 222, 1)",
                pointRadius: false,
                pointColor: "rgba(210, 214, 222, 1)",
                pointStrokeColor: "#c1c7d1",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [],
              },
            ],
          },
          options: {
            maintainAspectRatio: false,
            responsive: true,
            legend: {
              display: true,
            },
            scales: {
              xAxes: [
                {
                  gridLines: {
                    display: false,
                  },
                },
              ],
              yAxes: [
                {
                  gridLines: {
                    display: true,
                  },
                },
              ],
            },
          },
        });
      });

      $(document).ready(function () {
        const apiUrl = `https://api.openweathermap.org/data/2.5/weather?q=Wonosobo,ina&APPID=e3929ede1298bd2850c2b0842b652b48`;

        function fetchWeatherForecast() {
          $.ajax({
            url: apiUrl,
            method: "GET",
            success: function (data) {
              const humidity = data.main.humidity;
              const pressure = data.main.pressure;
              const windSpeed = data.wind.speed;
              const windDirection = data.wind.deg;
              const description = data.weather[0].description;
              const icon = data.weather[0].icon;

              const forecastHtml = `
                <div class="row">
                  <h5>Cuaca di ${data.name}, ${data.sys.country}</h5>
                  <div class="col-md-6">
                    <div class="weather-icon">
                      <img src="http://openweathermap.org/img/wn/${icon}.png" alt="${description}">
                    </div>
                    <p><strong>Kelembaban:</strong> ${humidity}%</p>
                    <p><strong>Tekanan:</strong> ${pressure} hPa</p>
                  </div>
                  <div class="col-md-6">
                    <p><strong>Kecepatan Angin:</strong> ${windSpeed} m/s (${windDirection}°)</p>
                    <p><strong>Deskripsi:</strong> ${description}</p>
                  </div>
                </div>
              `;

              $("#weather-forecast").html(forecastHtml);
            },
            error: function () {
              $("#weather-forecast").text("Failed to load weather forecast.");
            },
          });
        }

        fetchWeatherForecast();
      });

      // Fungsi untuk mengambil data dari API dan memperbarui Pie Chart
      function updateDashboardData() {
        $.ajax({
          url: "https://server-gamma-ebon-90.vercel.app/api/school-info",
          method: "GET",
          dataType: "json",
          success: function (data) {
            if (data.length > 0) {
              const schoolData = data[0];
              $("#running-text").text(schoolData.running_text);
              const studentCount = schoolData.jumlah_siswa;
              const teacherCount = schoolData.jumlah_guru;

              // Memperbarui chart dengan data terbaru
              updatePieChart(studentCount, teacherCount);
            } else {
              // Data default jika tidak ada data
              updatePieChart(0, 0);
            }
          },
          error: function (xhr, status, error) {
            console.error("Error fetching data:", error);
          },
        });
      }

      // Fungsi untuk membuat dan memperbarui Pie Chart
      function updatePieChart(studentCount, teacherCount) {
        const ctx = document.getElementById("schoolPieChart").getContext("2d");

        // Periksa apakah chart sudah ada dan merupakan instance dari Chart, lalu destroy
        if (window.schoolPieChart instanceof Chart) {
          window.schoolPieChart.destroy();
        }

        // Membuat Pie Chart baru
        window.schoolPieChart = new Chart(ctx, {
          type: "pie",
          data: {
            labels: ["Siswa", "Guru"],
            datasets: [
              {
                data: [studentCount, teacherCount],
                // Warna AdminLTE: kuning dan biru
                backgroundColor: ["#f39c12", "#00c0ef"],
              },
            ],
          },
          options: {
            responsive: true,
            plugins: {
              legend: {
                position: "top",
              },
            },
          },
        });
      }

      // Mengambil data setiap 5 detik
      setInterval(updateDashboardData, 5000);

      // Jalankan fungsi ketika halaman selesai dimuat
      $(document).ready(function () {
        updateDashboardData();
      });
    </script>
  </body>
</html>
